Consider following code to answer further questions:

In [2]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df[2:3]

  course_name  duration
2    Big Data         6

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The main differences between loc and iloc in bullet form:

|loc                                                   |iloc                                                               |
|------------------------------------------------------|-------------------------------------------------------------------|
|    loc is label-based indexing,                      |                        while iloc is integer-based indexing.      |
| loc selects rows and columns based on their labels,  |while iloc selects rows and columns based on their integer indices.|
|  loc includes the end index,                         |                                 while iloc excludes the end index.|
| loc can use boolean arrays to select rows based on conditions,|                                        while iloc cannot.|
| loc syntax: df.loc[row_labels, column_labels]        |iloc syntax: df.iloc[row_indices, column_indices]|

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

Consider the below code to answer further questions:

In [8]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [145]:
reindex = [3,0,1,2]
new_df = df1[:len(reindex)]
new_df['reindex']=[3,0,1,2]
new_df.set_index('reindex',inplace=True)
#new_df.reset_index(inplace=True)
new_df

C:\Users\Admin\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

         column_1  column_2  column_3  column_4  column_5  column_6
reindex
3        0.563039  0.426108  0.552832  0.290641  0.270556  0.050305
0        0.999720  0.772623  0.816002  0.620569  0.328847  0.009373
1        0.438042  0.349933  0.868034  0.540530  0.780760  0.583204
2        0.916072  0.403472  0.393332  0.694009  0.407839  0.569236

In [147]:
new_df.iloc[2]

column_1    0.438042
column_2    0.349933
column_3    0.868034
column_4    0.540530
column_5    0.780760
column_6    0.583204
Name: 1, dtype: float64

In [144]:
new_df.loc[2]

column_1    0.916072
column_2    0.403472
column_3    0.393332
column_4    0.694009
column_5    0.407839
column_6    0.569236
Name: 2, dtype: float64

new_df.iloc[2] returns the row at index position 2 of the DataFrame new_df.
In this case, it returns the row with index label 2 because reindex is set as the index of the DataFrame.

On the other hand, new_df.loc[2] returns the row with index label 2. 
So, it also returns the row with index label 2 in this case.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [156]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
0  0.129271  0.290659  0.902471  0.007668  0.687621  0.579138
1  0.437083  0.453987  0.404129  0.265309  0.625898  0.109038
2  0.961942  0.135842  0.143053  0.747669  0.965321  0.923328
3  0.996317  0.009846  0.759685  0.517947  0.503000  0.139132
4  0.723773  0.391428  0.191659  0.568188  0.015766  0.885347
5  0.078511  0.070920  0.672763  0.979824  0.734835  0.900486

In [157]:
c1=df1.column_1.mean()
c2=df1.column_2.mean()
c3=df1.column_3.mean()
c4=df1.column_4.mean()
c5=df1.column_5.mean()
c6=df1.column_6.mean()
df1.append([c1,c2,c3,c4,c5,c6],ignore_index=True)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
0  0.129271  0.290659  0.902471  0.007668  0.687621  0.579138
1  0.437083  0.453987  0.404129  0.265309  0.625898  0.109038
2  0.961942  0.135842  0.143053  0.747669  0.965321  0.923328
3  0.996317  0.009846  0.759685  0.517947  0.503000  0.139132
4  0.723773  0.391428  0.191659  0.568188  0.015766  0.885347
5  0.078511  0.070920  0.672763  0.979824  0.734835  0.900486

0.5544828315325655

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

The program should do the following:

Prompt the user to enter the file path of the CSV file containing the student data

Read the CSV file into a Pandas DataFrame

Calculate the mean, median, and mode of the test scores using Pandas tools

Display the mean, median, and mode in a table.

Assume the CSV file contains the following columns:

Student ID: The ID of the student

Test Score: The score of the student's test.

Example usage of the program:

Enter the file path of the CSV file containing the student data: student_data.csv

+-----------+--------+

| Statistic | Value |

+-----------+--------+

| Mean | 79.6 |

| Median | 82 |

| Mode | 85, 90 |

+-----------+--------+

Assume that the CSV file student_data.csv contains the following data:

Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85

The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [119]:
import csv

Student_ID = list(range(1,11))
Test_Score = [85, 90, 80, 75, 85, 82, 78, 85, 90, 85]

with open('C:/Users/Admin/Documents/Python_Program/assingment/student_data.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Student_ID', 'Test_Score'])  # write header
    for i in range(len(Student_ID)):
        writer.writerow([Student_ID[i], Test_Score[i]])  # write data row

In [125]:
import pandas as pd

In [132]:
path=input()

C:/Users/Admin/Documents/Python_Program/assingment/student_data.csv

In [133]:
test_scores=pd.read_csv(path)#f'C:/Users/Admin/Documents/Python_Program/assingment/student_data.csv')

In [134]:
mean=test_scores.Test_Score.mean()
median=test_scores.Test_Score.median()
mode=(test_scores.Test_Score.mode()).astype(float)

test_score=pd.DataFrame([mean,median,mode.values],
                        index=['Mean','Median','Mode'],columns=['values'])

In [135]:
test_score

        values
Mean      83.5
Median      85
Mode    [85.0]